General
.DS_Store
*.log
*.tmp
*.swp

Node.js (React Frontend)
node_modules/
build/
dist/
.env
.env.local
npm-debug.log*

Java (Backend)
*.class
*.jar
*.war
*.ear
*.iml
target/
.gradle/
build/
out/

Terraform
.terraform/
*.tfstate
.tfstate.
crash.log
override.tf
override.tf.json
terraform.tfvars
terraform.tfvars.json
.terraform.lock.hcl

Kubernetes
kubeconfig
*.kube
*.yaml.backup
*.backup

Helm
charts/*.tgz
.release-name

VSCode / JetBrains IDEs
.vscode/
.idea/

System / OS
Thumbs.db
ehthumbs.db
desktop.ini
